header{
    background-color: purple;
    
    color: gold;
}
body{
    background-color: rgb(10, 10, 10);
    font-family: "MV Boli";
}
main{
    
    color: gold;
}
main p{
    margin: 30px;
    font-size: 20px;
    text-align: center;
}
footer{
    background-color: purple;
    
    color: gold;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
}
footer p{
    font-size: 20px;
}

h1{
    text-align: center;
    padding: 20px;
    font-size: 40px;
    
}
ul{
    margin-left: 50px;
    font-size: 16px;
    list-style-type: circle;
}

ol{
    margin-left: 20px;
    list-style-type: decimal;
    font-size: 16px;
    
}
ol li{
    position: relative;
    left: 30px;
    padding-top: 3px;
    
}

.center{
    text-align: center;
}


/* Button Animation Stuff */
button
    {
        background:rgb(128, 5, 128); 
        color: gold;
        height: 40px;
        width: 250px;
        font-size: 20px;
        font-family: "MV Boli";
        border: 4px solid gold;
        margin-top: 50px;
        margin-bottom: 50px;
        transition: all 0.5s;
        cursor: pointer;

    }

                                    /*Classes and ID*/  
.button span 
{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}


.button span:after 
{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span 
{
    padding-right: 25px;
}

.button:hover span:after 
{
    opacity: 1;
    right: 0;
}
/* Button Animation Stuff */

